<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">


<!--<![endif]-->

<head>
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Latest compiled and minified CSS -->
    

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</head>

<body class="cuerpo align-items-center">
    
   
    <!-- The overlay -->



    {% if pregunta is None  %}

<div class="container">
    <div class="jumbotron my-4" >
        <h1>
            Ya haz respondido todas las preguntas.

        </h1>
        <a href="{% url 'HomeUsuario' %}">Volver a Home</a>
        

    </div>
     
</div>

{% else %}
<div class="container">
    <div class="jumbotron my/4" >
        <h3>
            {{pregunta.texto}}
            
        </h3>
        

        <form method="POST" class="form">
            {% csrf_token %}
            <input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}" >

            {% for opciones in pregunta.opciones.all %}
                <p>
                <input class="form-check-input" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{forloop.counter}}">
                <label class="form-check-label" for="choice-{{forloop.counter}}" >
                {{opciones.texto}}
                </label>
                </p>
            {% endfor %}

            <video controls class="video" id="videos">
            </video>

            <form action="#" method="post" enctype="multipart/form-data">
                File: <input type="file" name="fup" id="fup" /><br>
                Duration: <input type="text" name="f_du" id="f_du" size="5" /> seconds<br>
                <input type="submit" value="Upload" />
              </form>
            <button type="submit" class="btn btn-success" >
                Enviar
            </button>


         



        </form>
        <audio id="audio"></audio>

    </div>

</div>

<script>
    // Code to get duration of audio /video file before upload - from: http://coursesweb.net/
    
    //register canplaythrough event to #audio element to can get duration
    var f_duration =0;  //store duration
    document.getElementById('audio').addEventListener('canplaythrough', function(e){
      //add duration in the input field #f_du
      f_duration = Math.round(e.currentTarget.duration);
      document.getElementById('f_du').value = f_duration;
      URL.revokeObjectURL(obUrl);
    });
    
    //when select a file, create an ObjectURL with the file and add it in the #audio element
    var obUrl;
    document.getElementById('fup').addEventListener('change', function(e){
      var file = e.currentTarget.files[0];
      //check file extension for audio/video type
      if(file.name.match(/\.(avi|mp3|mp4|mpeg|ogg)$/i)){
        obUrl = URL.createObjectURL(file);
        document.getElementById('audio').setAttribute('src', obUrl);
        
        var video = document.getElementById('videos');
        video.setAttribute('src', obUrl);
    
      }else{
          document.getElementById('fup').value = "";
          document.getElementById('f_du').value = "";
          alert("formato no adminitdo")      
      }
    });
    
    </script>



{% endif %}



    
    </div>




</body>